* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #a5c8ed;
}

header {
  background: #c50bfd;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  height: 70vh;
}

.header-texto {
  padding-top: 110px;
}

nav {
  background: #a5c8ed;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ddd;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px;
}

main {
  padding: 2rem;
}

#inicio {
  height: 80vh;
}

#mensagemnossa {
  height: 210vh;
}

#mensagemespecial {
  height: 72vh;
}

#musica {
  height: 70vh;
}

.mensagemnossa-img {

  align-items: center;
  justify-content: center;
  text-align: center;
}

.mensagemnossa-texto {}

footer {
  background: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 1rem;
}

.mensagemnossa-imagem {
  margin-top: 8%;
  margin-bottom: 8%;
  align-items: center;
  justify-content: center;
  text-align: ;
}

.mensagemespecial-audio{
  align-items: center;
  text-align: center;
  justify-content: center;
}

#mensagemespecial-audio-audio{
  margin-top: 10%;
}

.musica-video {

  align-items: center;
  text-align: center;
  justify-content: center;
}

#musica-video-video{
  border-radius: 10px;
}
/* Responsivo */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #0056b3;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}